<div id=''class='col-md-6 col-xs-12'style='border:1px none;'>
					<div id=''class='hidden-md hidden-lg col-xs-12 'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;border-bottom:1px dashed black;padding-bottom:10px;'>
					 <img class='col-xs-8'style='float:left;'src="http://placehold.it/75x75">
					 <span class='col-xs-4'style='font-size:11px;display:inline;float:right;'>Price</span>
					 <span class='col-xs-12'>Name of Product</span>

					</div>
					<div id=''class='hidden-md hidden-lg col-xs-12'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;border-bottom:1px dashed black;padding-bottom:10px;'>
					 <img class='col-xs-8'style='float:left;'src="http://placehold.it/75x75">
					 <span class='col-xs-4'style='font-size:11px;display:inline;float:right;'>Price</span>
					 <span class='col-xs-12'>Name of Product</span>

					</div>
					<div id=''class='hidden-md hidden-lg col-xs-12'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;'>
					 <img class='col-xs-8'style='float:left;'src="http://placehold.it/75x75">
					 <span class='col-xs-4'style='font-size:11px;display:inline;float:right;'>Price</span>
					 <span class='col-xs-12'>Name of Product</span>

					</div>

						<div id=''class='hidden-sm hidden-xs col-md-4'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;border-bottom:1px dashed black;padding-bottom:10px;float:right;text-align:center;'>
					 <img class='hidden-sm hidden-xs col-md-8'style='float:left;'src="http://placehold.it/75x75">
					 <span class='hidden-sm hidden-xs col-md-4'style='font-size:11px;display:inline;float:right;'>Price</span>
					 <span class='hidden-sm hidden-xs col-md-12'>Name of Product</span>

					</div>
					<div id=''class='hidden-sm hidden-xs col-md-4'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;border-bottom:1px dashed black;padding-bottom:10px;float:right;text-align:center;'>
					 <img class='hidden-sm hidden-xs col-md-8'style='float:left;'src="http://placehold.it/75x75">
					 <span class='hidden-sm hidden-xs col-md-4'style='font-size:11px;display:inline;float:right;'>Price</span>
					 <span class='hidden-sm hidden-xs col-md-12'>Name of Product</span>

					</div>
					<div id=''class='hidden-sm hidden-xs col-md-4'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;float:right;text-align:center;'>
					 <img class='hidden-sm hidden-xs col-md-8'style='float:left;'src="http://placehold.it/75x75">
					 <span class='hidden-sm hidden-xs col-md-4'style='font-size:11px;display:inline;float:right;'>Price</span>
					 <span class='hidden-sm hidden-xs col-md-12'>Name of Product</span>

					</div>


				</div>