$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@media (min-width:320px) {
  /* CSS Rules used when query matches */
  body {
    min-height: 480px;
  }

}
@media (min-width:1920px) {
  /* CSS Rules used when query matches */
  body {
    min-height:1300px;
    padding-bottom:0;

  }
}
body { 
  padding: 0;
  height:100%;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  
 
  background-image:url(/images/possiblenewlayout3_01.png);
  background-repeat: no-repeat;
  background-size:contain;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 50px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#headTitle, #headMenu {
  font-family: 'La Belle Aurore', cursive;
  font-family: 'Sanchez', serif;
}
body {

  background-image:url(/images/possiblenewlayout3_02.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.footer {
 
  background-image:url(/images/possiblenewlayout3_03.png);
  background-size: cover;
  background-repeat: no-repeat;
  border:1px none;
}
p {
  font-family: 'Sanchez', serif;
}

 #warped {position: relative; display: block; width:588px; height:440px;}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped span{font-family:'ABeeZee';font-size:38px;font-weight:regular;font-style:normal;
                     line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-7.2rad);-webkit-transform: rotate(-7.2rad);-o-transform:
                     rotate(-7.2rad);-ms-transform: rotate(-7.2rad); transform: rotate(-7.2rad);
                     width: 11px; height: 25px; left: 48.11px; top: 270.19px;}

                     #warped .w1 {-moz-transform: rotate(-7.13rad);-webkit-transform: rotate(-7.13rad);-o-transform:
                     rotate(-7.13rad);-ms-transform: rotate(-7.13rad); transform: rotate(-7.13rad);
                     width: 11px; height: 25px; left: 57.88px; top: 258.54px;}

                     #warped .w2 {-moz-transform: rotate(-7.05rad);-webkit-transform: rotate(-7.05rad);-o-transform:
                     rotate(-7.05rad);-ms-transform: rotate(-7.05rad); transform: rotate(-7.05rad);
                     width: 11px; height: 25px; left: 69.21px; top: 246.89px;}

                     #warped .w3 {-moz-transform: rotate(-6.98rad);-webkit-transform: rotate(-6.98rad);-o-transform:
                     rotate(-6.98rad);-ms-transform: rotate(-6.98rad); transform: rotate(-6.98rad);
                     width: 11px; height: 25px; left: 81.43px; top: 236.05px;}

                     #warped .w4 {-moz-transform: rotate(-6.91rad);-webkit-transform: rotate(-6.91rad);-o-transform:
                     rotate(-6.91rad);-ms-transform: rotate(-6.91rad); transform: rotate(-6.91rad);
                     width: 11px; height: 25px; left: 93.63px; top: 226.63px;}

                     #warped .w5 {-moz-transform: rotate(-6.82rad);-webkit-transform: rotate(-6.82rad);-o-transform:
                     rotate(-6.82rad);-ms-transform: rotate(-6.82rad); transform: rotate(-6.82rad);
                     width: 27px; height: 25px; left: 105.61px; top: 213.57px;}

                     #warped .w6 {-moz-transform: rotate(-6.72rad);-webkit-transform: rotate(-6.72rad);-o-transform:
                     rotate(-6.72rad);-ms-transform: rotate(-6.72rad); transform: rotate(-6.72rad);
                     width: 21px; height: 25px; left: 134.78px; top: 199.92px;}

                     #warped .w7 {-moz-transform: rotate(-6.64rad);-webkit-transform: rotate(-6.64rad);-o-transform:
                     rotate(-6.64rad);-ms-transform: rotate(-6.64rad); transform: rotate(-6.64rad);
                     width: 18px; height: 25px; left: 159.06px; top: 190.58px;}

                     #warped .w8 {-moz-transform: rotate(-6.56rad);-webkit-transform: rotate(-6.56rad);-o-transform:
                     rotate(-6.56rad);-ms-transform: rotate(-6.56rad); transform: rotate(-6.56rad);
                     width: 23px; height: 25px; left: 180.28px; top: 182.91px;}

                     #warped .w9 {-moz-transform: rotate(-6.5rad);-webkit-transform: rotate(-6.5rad);-o-transform:
                     rotate(-6.5rad);-ms-transform: rotate(-6.5rad); transform: rotate(-6.5rad);
                     width: 10px; height: 25px; left: 208.04px; top: 177.6px;}

                     #warped .w10 {-moz-transform: rotate(-6.46rad);-webkit-transform: rotate(-6.46rad);-o-transform:
                     rotate(-6.46rad);-ms-transform: rotate(-6.46rad); transform: rotate(-6.46rad);
                     width: 11px; height: 25px; left: 222.69px; top: 174.63px;}

                     #warped .w11 {-moz-transform: rotate(-6.4rad);-webkit-transform: rotate(-6.4rad);-o-transform:
                     rotate(-6.4rad);-ms-transform: rotate(-6.4rad); transform: rotate(-6.4rad);
                     width: 24px; height: 25px; left: 238.13px; top: 171.48px;}

                     #warped .w12 {-moz-transform: rotate(-6.33rad);-webkit-transform: rotate(-6.33rad);-o-transform:
                     rotate(-6.33rad);-ms-transform: rotate(-6.33rad); transform: rotate(-6.33rad);
                     width: 23px; height: 25px; left: 267.48px; top: 169.27px;}

                     #warped .w13 {-moz-transform: rotate(-6.26rad);-webkit-transform: rotate(-6.26rad);-o-transform:
                     rotate(-6.26rad);-ms-transform: rotate(-6.26rad); transform: rotate(-6.26rad);
                     width: 19px; height: 25px; left: 295.1px; top: 169.11px;}

                     #warped .w14 {-moz-transform: rotate(-6.2rad);-webkit-transform: rotate(-6.2rad);-o-transform:
                     rotate(-6.2rad);-ms-transform: rotate(-6.2rad); transform: rotate(-6.2rad);
                     width: 21px; height: 25px; left: 319.63px; top: 170.62px;}

                     #warped .w15 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
                     rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
                     width: 11px; height: 25px; left: 345.5px; top: 173.13px;}

                     #warped .w16 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
                     rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
                     width: 22px; height: 25px; left: 360.56px; top: 176.78px;}

                     #warped .w17 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:
                     rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
                     23px; height: 25px; left: 387.5px; top: 183.64px;}

                     #warped .w18 {-moz-transform: rotate(-5.92rad);-webkit-transform: rotate(-5.92rad);-o-transform:
                     rotate(-5.92rad);-ms-transform: rotate(-5.92rad); transform: rotate(-5.92rad);
                     width: 23px; height: 25px; left: 413.88px; top: 192.63px;}

                     #warped .w19 {-moz-transform: rotate(-5.82rad);-webkit-transform: rotate(-5.82rad);-o-transform:
                     rotate(-5.82rad);-ms-transform: rotate(-5.82rad); transform: rotate(-5.82rad);
                     width: 23px; height: 25px; left: 438.92px; top: 203.77px;}
