<div id=''class='col-md-6 col-md-offset-3 hidden-sm hidden-xs'style='border:1px solid black;background-color:rgba(24,35,87,0.55);padding:0;'>

	<div id='mainContentNewsImage'class='col-md-12  col-xs-12'style='border:1px none;text-align:center;height:100%;margin-top:20px;margin-bottom:20px;'>
              <img class='hidden-sm hidden-xs col-md-12'src="/images/image.png">
  <img class='hidden-md hidden-lg'src="/images/image.png" style='width:300px;height:auto; position:relative;right:15%;'>
     </div>
	<div id=''class='col-md-12'style='border:1px none;border-top:1px dashed #FFFC94;background-color:rgba(24,35,87,0.55);'>


		<div id=''class='col-md-8 'style=' padding:4%;margin-bottom:10%;'>

				<div id=''class='col-md-9 col-md-offset-1'style='padding:1%;color:black;'>
					<div id=''class=''style='border:1px none;float:right;padding:0;margin:2%;position:relative;left:70px;'>
					 <img src="http://placehold.it/250x250">

					</div>
				<!-- start slipsum code -->

					<p class=''>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. 
					Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, 
					for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with 
					great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know 
					My name is the Lord when I lay My vengeance upon thee. </p>

					<p class=''>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while 
					I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it 
					don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it 
					over to your dumb ass. </p>

					<p class=''>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. 
					Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for 
					he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great 
					vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name 
					is the Lord when I lay My vengeance upon thee. </p>

					<p class=''>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while 
					I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it 
					don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it 
					over to your dumb ass. </p>

				</div>

				
		</div>
		<div id=''class='col-md-4'style='border-left:3px dashed #FFFC94;;'>
					<div id=''class='col-md-3 col-md-offset-1'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;border-bottom:1px dashed black;padding-bottom:10px;'>
					 <img src="http://placehold.it/200x200">

					</div>
					<div id=''class='col-md-3 col-md-offset-1'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;border-bottom:1px dashed black;padding-bottom:10px;'>
					 <img src="http://placehold.it/200x200">

					</div>
					<div id=''class='col-md-3 col-md-offset-1'style='border:1px none;padding:0;width:70%;margin-bottom:2%;margin-top:2%;'>
					 <img src="http://placehold.it/200x200">

					</div>
				</div>

	</div>

</div>


<div id=''class='container hidden-md hidden-lg'style=''>

	<div id='mainContentNewsImage'class='col-xs-8'style='border:1px none;height:100%;margin-top:20px;margin-bottom:20px;width:auto;'>
            <img class='hidden-sm hidden-xs'src="/images/image.png">
  <img class='hidden-md hidden-lg'src="/images/image.png" style='width:300px;height:auto; position:relative;right:15%;'>
     </div>

     <div id=''class='col-xs-12'style=''>
     	<div id=''class='col-xs-6'style='border:1px none;text-align:center;padding:0;margin:1%;'>
					 <img src="http://placehold.it/250x250">

					</div>

		<div id=''class='col-xs-12'style=''>
			<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. 
					Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, 
					for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with 
					great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know 
					My name is the Lord when I lay My vengeance upon thee. </p>

					<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while 
					I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it 
					don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it 
					over to your dumb ass. </p>

					<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. 
					Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for 
					he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great 
					vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name 
					is the Lord when I lay My vengeance upon thee. </p>

					<p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while 
					I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it 
					don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it 
					over to your dumb ass. </p>


		</div>
					<side-Bar class=''></side-Bar>

     </div>

</div>

