<div id=''class='col-md-6 col-md-offset-3 hidden-sm hidden-xs'style='border:1px solid black;background-color:rgba(24,35,87,0.55);padding:0;'>

	<div id='mainContentNewsImage'class='col-md-12 col-xs-12'style='border:1px none;text-align:center;height:100%;margin-top:20px;margin-bottom:20px;'>
             <img class='hidden-sm hidden-xs'src="/images/image.png">
  <img class='hidden-md hidden-lg'src="/images/image.png" style='width:300px;height:auto; position:relative;right:15%;'>
     </div>
	<div id=''class='col-md-12'style='border:1px none;border-top:1px dashed black;padding:1%;border:1px none;border-top:1px dashed #FFFC94;background-color:rgba(24,35,87,0.55);'>


		<div id=''class='col-md-10 col-md-offset-1'style='margin-bottom:20%;'>

				<div id=''class='col-md-12'style='border:1px none;padding:1%;text-align:center;'>
					<div id=''class='col-md-12'style='border:1px none;padding:0;margin:1%;'>
					 <img src="http://placehold.it/650x100">

					</div>
					<br>

				<!-- start slipsum code -->
				<div id=''class='col-md-6'style='background-color:white;'>
					
					<div id=''class='col-md-10'style='margin-top:10px;'>
						<p>Please e-mail us at EMAIL ADDRESS HERE
					</div> 
					<div id=''class='col-md-10'style='margin-top:10px;'>
						<p>Por favor mande un messaje electronico EMAIL ADDRESS HERE 
					</div>
					</div>
					<side-Bar></side-Bar>
				</div>

			
		</div>

	</div>

</div>

<div id=''class='hidden-lg hidden-md col-xs-12'style='border:1px solid black;background-color:rgba(24,35,87,0.55);'>

	<div id='mainContentNewsImage'class='col-md-12 col-xs-12'style='border:1px none;text-align:center;height:100%;margin-top:20px;margin-bottom:20px;'>
            <img class='hidden-sm hidden-xs'src="/images/image.png">
  <img class='hidden-md hidden-lg'src="/images/image.png" style='width:350px;height:auto; position:relative;right:15%;'>
     </div>
	<div id=''class='col-xs-12'style='border:1px none;padding:1%;margin-top:10px;'>


		<div id=''class='col-xs-12'style='margin-top:20px;'>

				<div id=''class='col-xs-12'style='border:1px none;padding:1%;'>
					<div id=''class='col-xs-10'style='border:1px none;padding:0;margin:1%;text-align:center;'>
					 <img src="http://placehold.it/200x200">

					</div>
					<br>
				<!-- start slipsum code -->
				<div id=''class=''style='margin-top:1%;'>
					
					<div id=''class='col-xs-10'style='margin-top:10px;'>
						Please e-mail us at EMAIL ADDRESS HERE
					</div> 
					<div id=''class='col-xs-10'style='margin-top:10px;'>
						Por favor mande un messaje electronico EMAIL ADDRESS HERE 
					</div>
					</div>
				</div>
				<div id=''class='col-xs-12'style='padding:20px;'>

				</div>

			<side-Bar></side-Bar>
		</div>

	</div>


</div>

