<div id='' class='col-md-6 col-xs-12 col-md-offset-3' style='border:1px none;background-color:rgba(24,35,87,0.55);border:1px none;border-top:1px dashed #FFFC94;background-color:rgba(24,35,87,0.55);padding:0;position:relative;bottom:0px;'>
  <div id='imagebanner'class='col-md-12'style='border-bottom:1px dashed black;text-align:center;height:100%;margin-top:20px;margin-bottom:4px;padding-bottom:10px;'>
  <img class='hidden-sm hidden-xs'src="/images/image.png">
  <img class='hidden-md hidden-lg'src="/images/image.png" style='width:300px;height:auto; position:relative;right:15%;'>
  </div>
<!-- MOBILE VERSION START HERE -->
<div id=''class='hidden-md hidden-lg'style=''>
<div id='mainContentAnnounce'class='col-md-10 col-xs-12 col-md-offset-1'style='text-align:center;margin-top:2px;border-bottom:1px none;margin-bottom:3px;'>
         <img class=''src="http://placehold.it/250x50">
        </div>

         <div id='mainContentNewsImage'class='col-md-4 col-xs-12'style='text-align:center;'>
            <img class=''src='http://placehold.it/200x200'>
            </div>

        <div id=''class='col-md-10 col-xs-12'style=''>
                    <div id=''class='col-md-10 hidden-sm hidden-xs col-md-offset-2'style=''>
                        <!-- start slipsum code -->

                        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. 
                        That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke
                        . We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, 
                        just on opposite ends. </p>

                      <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into 
                      a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze 
                      my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>

                      <!-- please do not remove this line -->

                              <div style="display:none;">
                        <a href="http://slipsum.com">lorem ipsum</a></div>

                        <!-- end slipsum code -->


                    </div>
                    <div id=''class='hidden-md hidden-lg col-xs-12'style=''>
                        <!-- start slipsum code -->

                        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. 
                        That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke
                        . We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, 
                        just on opposite ends. </p>

                      <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into 
                      a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze 
                      my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>

                      <!-- please do not remove this line -->

                              <div style="display:none;">
                        <a href="http://slipsum.com">lorem ipsum</a></div>

                        <!-- end slipsum code -->


                    </div>

        <side-Bar></side-Bar>
</div>

</div>



  <!-- DESKTOP / TABLET VERSION START HERE -->
  <div id='mainContentWindow'class='col-md-12  col-xs-12 hidden-xs hidden-sm 'style='border:1px none;border-top:1px dashed #FFFC94;background-color:rgba(24,35,87,0.55);margin:0;'>
    <div id='mainContent'class='col-md-12 col-xs-12'style='margin-bottom:10%;'>
      <div id='mainContentFirst'class='col-md-10 col-md-offset-1'style=''>
        <div id='mainContentAnnounce'class='col-md-10 col-xs-12 'style='text-align:center;margin-top:2px;border-bottom:1px dashed black;padding:1%;'>
            <img src="http://placehold.it/800x150">
        </div>
         

         <div id='mainContentNews'class='col-md-12  col-xs-12'style=''>
             <div id=''class=''style='padding:1%;margin:0.2%;'>
            </div>
            <div id='mainContentNewsImage'class='col-md-4 col-xs-12'style='border:1px none;text-align:center;height:100%;margin-top:20px;margin-bottom:20px;'>
              <img src="http://placehold.it/300x300">
            </div>
            
            <div id='mainContentNewsContent'class='col-md-8 col-xs-12'style='padding:1px;color:white;'>
                <div id=''class='col-md-12 col-xs-12 'style='border:1px none;'>
                  <div id=''class='col-md-12 col-xs-12 'style='border-bottom:1px dashed black;'>
                  <span class='col-md-5 col-xs-12'>About the shop...</span>
                  </div>
                  <br><br>
                  <div id=''class='col-md-12 col-xs-12'style=''>
                    <div id=''class='col-md-10 hidden-sm hidden-xs col-md-offset-2'style=''>
                        <!-- start slipsum code -->

                        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. 
                        That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke
                        . We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, 
                        just on opposite ends. </p>

                      <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into 
                      a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze 
                      my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>

                      <!-- please do not remove this line -->

                              <div style="display:none;">
                        <a href="http://slipsum.com">lorem ipsum</a></div>

                        <!-- end slipsum code -->


                    </div>
                    <div id=''class='hidden-md hidden-lg col-xs-12'style=''>
                        <!-- start slipsum code -->

                        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. 
                        That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke
                        . We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, 
                        just on opposite ends. </p>

                      <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into 
                      a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze 
                      my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>

                      <!-- please do not remove this line -->

                              <div style="display:none;">
                        <a href="http://slipsum.com">lorem ipsum</a></div>

                        <!-- end slipsum code -->


                    </div>

                  </div>                 
                </div>

            </div>
        </div>


        <!-- Middle part -->
         <div id='mainContentNews'class='col-md-12 hidden-sm hidden-xs'style='margin-top:2px;border-bottom:1px dashed black;color:white;'>
            <br>
            <div id=''class='col-md-10 col-md-offset-1'style='border-bottom:1px dashed black'>
            What we offer.....
            </div>
         <div id=''class='col-md-10 col-md-offset-2'style='border-bottom:1px dashed black;padding-bottom:10px;margin-top:10px;'>
            <div id='mainContentNewsImage'class='col-md-5 col-xs-12'style='border:1px none;margin:0.05%;'>
              <img src="http://placehold.it/200x200">
            </div>
             <div id='mainContentNewsImage'class='col-md-5 col-xs-12'style='border:1px none;margin:0.05%;'>
              <img src="http://placehold.it/200x200">
            </div>
             <!-- <div id='mainContentNewsImage'class='col-md-4 col-xs-12'style='border:1px none;margin:0.05%;'>
              <img src="http://placehold.it/200x200">
            </div> -->

            </div>
            <br>
            <div id=''class='col-md-10'style=''>
                  <div id=''class='col-md-10 col-md-offset-1'style=''>
                    Sup    
              </div>
            </div>
         </div>

          <div id='mainContentNews'class='col-md-10 col-md-offset-1'style='margin-top:2px;border-bottom:1px solid black;'>
            <div id='mainContentNewsImage'class='col-md-4 col-xs-12'style='border:1px solid black;text-align:center;'>
            Image
            </div>
            <div id='mainContentNewsContent'class='col-md-8 col-xs-12'style='padding:1px;'>
                <div id=''class='col-md-12 col-xs-12'style='border:1px solid black;'>
                  <div id=''class='col-md-8 col-xs-11 'style=''>
                  About the shop...
                  </div>
                 
                </div>

            </div>
        </div>

      </div>
    </div>
   
    
    <div id=''class='col-md-12 col-xs-12'style='border:1px solid black;margin-bottom:3%;'>
      Sup
    </div>


  </div>



</div>
